Repository Eliezelg/myfamily-e9xq3b, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @api-owners, @security-team, @content-team, @gazette-team, @payment-team, @worker-team, @architecture-team, @devops-team, @frontend-team, @accessibility-team, @mobile-team, @ci-team, @dependency-managers, @qa-team, @test-automation-team, @documentation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/test/unit/queue.test.ts
  src/backend/src/worker-service/test/unit/queue.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/babel.config.js
  src/web/babel.config.js
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/package.json
  src/web/package.json
Owners: @dependency-managers, @security-team

Add public-samples/myfamily-e9xq3b/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/webpack.config.ts
  src/web/webpack.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/app.json
  src/web/mobile/app.json
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/index.js
  src/web/mobile/index.js
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/metro.config.js
  src/web/mobile/metro.config.js
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/components/common/KeyboardAvoidingView/KeyboardAvoidingView.tsx
  src/web/mobile/components/common/KeyboardAvoidingView/KeyboardAvoidingView.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/components/common/SafeAreaView/SafeAreaView.tsx
  src/web/mobile/components/common/SafeAreaView/SafeAreaView.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/components/common/TouchableRipple/TouchableRipple.tsx
  src/web/mobile/components/common/TouchableRipple/TouchableRipple.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/components/navigation/BottomTabs/BottomTabs.tsx
  src/web/mobile/components/navigation/BottomTabs/BottomTabs.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/components/navigation/StackNavigator/StackNavigator.tsx
  src/web/mobile/components/navigation/StackNavigator/StackNavigator.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/navigation/AppNavigator.tsx
  src/web/mobile/navigation/AppNavigator.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/navigation/AuthNavigator.tsx
  src/web/mobile/navigation/AuthNavigator.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/screens/Auth/LoginScreen.tsx
  src/web/mobile/screens/Auth/LoginScreen.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/screens/Auth/RegisterScreen.tsx
  src/web/mobile/screens/Auth/RegisterScreen.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/screens/Content/ContentUploadScreen.tsx
  src/web/mobile/screens/Content/ContentUploadScreen.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/screens/Dashboard/DashboardScreen.tsx
  src/web/mobile/screens/Dashboard/DashboardScreen.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/screens/Gazette/GazettePreviewScreen.tsx
  src/web/mobile/screens/Gazette/GazettePreviewScreen.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/screens/Payment/PaymentScreen.tsx
  src/web/mobile/screens/Payment/PaymentScreen.tsx
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/styles/platform.ts
  src/web/mobile/styles/platform.ts
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/styles/responsive.ts
  src/web/mobile/styles/responsive.ts
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/utils/dimensions.util.ts
  src/web/mobile/utils/dimensions.util.ts
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/mobile/utils/platform.util.ts
  src/web/mobile/utils/platform.util.ts
Owners: @mobile-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/app.tsx
  src/web/src/app.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/index.html
  src/web/src/index.html
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/assets/fonts/NotoSansHebrew/NotoSansHebrew-Regular.ttf
  src/web/src/assets/fonts/NotoSansHebrew/NotoSansHebrew-Regular.ttf
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/assets/fonts/Roboto/Roboto-Bold.ttf
  src/web/src/assets/fonts/Roboto/Roboto-Bold.ttf
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/assets/fonts/Roboto/Roboto-Regular.ttf
  src/web/src/assets/fonts/Roboto/Roboto-Regular.ttf
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/assets/images/logo.svg
  src/web/src/assets/images/logo.svg
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/assets/images/placeholder.png
  src/web/src/assets/images/placeholder.png
Owners: @frontend-team, @accessibility-team

Add public-samples/myfamily-e9xq3b/src/web/src/components/common/Button/Button.styles.ts
  src/web/src/components/common/Button/Button.styles.ts
Owners: @frontend-team, @accessibility-team

.github/CODEOWNERS:

*                                               @global-maintainers

# Backend Services
src/backend/src/api-gateway/                    @backend-team @api-owners
src/backend/src/auth-service/                   @backend-team @security-team
src/backend/src/content-service/                @backend-team @content-team
src/backend/src/gazette-service/                @backend-team @gazette-team
src/backend/src/payment-service/                @backend-team @payment-team @security-team
src/backend/src/worker-service/                 @backend-team @worker-team
src/backend/src/shared/                         @backend-team @architecture-team

# Service-specific security and config directories
src/backend/src/*/security/                     @security-team
src/backend/src/*/config/                       @devops-team @security-team

# Frontend Applications
src/web/                                        @frontend-team @accessibility-team
src/web/mobile/                                 @mobile-team @accessibility-team

# Infrastructure and DevOps
infrastructure/                                 @devops-team @security-team
.github/workflows/                              @devops-team @ci-team @security-team

# API Definitions
*.proto                                         @backend-team @api-owners @architecture-team

# Dependencies and Security
package.json                                    @dependency-managers @security-team

# Testing
*.test.ts                                       @qa-team @test-automation-team

# Documentation
docs/                                           @documentation-team @architecture-team
