Repository Eliezelg/myfamily-e9xq3b, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @api-owners, @security-team, @content-team, @gazette-team, @payment-team, @worker-team, @architecture-team, @devops-team, @frontend-team, @accessibility-team, @mobile-team, @ci-team, @dependency-managers, @qa-team, @test-automation-team, @documentation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/test/unit/middleware.test.ts
  src/backend/src/api-gateway/test/unit/middleware.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/Dockerfile
  src/backend/src/auth-service/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/package.json
  src/backend/src/auth-service/package.json
Owners: @dependency-managers, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/tsconfig.json
  src/backend/src/auth-service/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/src/app.ts
  src/backend/src/auth-service/src/app.ts
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/src/config/jwt.config.ts
  src/backend/src/auth-service/src/config/jwt.config.ts
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/src/config/oauth.config.ts
  src/backend/src/auth-service/src/config/oauth.config.ts
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/src/controllers/auth.controller.ts
  src/backend/src/auth-service/src/controllers/auth.controller.ts
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/src/models/user.model.ts
  src/backend/src/auth-service/src/models/user.model.ts
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/src/services/jwt.service.ts
  src/backend/src/auth-service/src/services/jwt.service.ts
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/src/services/oauth.service.ts
  src/backend/src/auth-service/src/services/oauth.service.ts
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/src/services/twoFactor.service.ts
  src/backend/src/auth-service/src/services/twoFactor.service.ts
Owners: @backend-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/test/integration/auth.test.ts
  src/backend/src/auth-service/test/integration/auth.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/auth-service/test/unit/jwt.test.ts
  src/backend/src/auth-service/test/unit/jwt.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/Dockerfile
  src/backend/src/content-service/Dockerfile
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/package.json
  src/backend/src/content-service/package.json
Owners: @dependency-managers, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/tsconfig.json
  src/backend/src/content-service/tsconfig.json
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/src/app.ts
  src/backend/src/content-service/src/app.ts
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/src/config/s3.config.ts
  src/backend/src/content-service/src/config/s3.config.ts
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/src/config/sharp.config.ts
  src/backend/src/content-service/src/config/sharp.config.ts
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/src/controllers/content.controller.ts
  src/backend/src/content-service/src/controllers/content.controller.ts
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/src/models/content.model.ts
  src/backend/src/content-service/src/models/content.model.ts
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/src/services/image.service.ts
  src/backend/src/content-service/src/services/image.service.ts
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/src/services/storage.service.ts
  src/backend/src/content-service/src/services/storage.service.ts
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/src/services/translation.service.ts
  src/backend/src/content-service/src/services/translation.service.ts
Owners: @backend-team, @content-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/test/integration/content.test.ts
  src/backend/src/content-service/test/integration/content.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/content-service/test/unit/image.test.ts
  src/backend/src/content-service/test/unit/image.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/Dockerfile
  src/backend/src/gazette-service/Dockerfile
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/package.json
  src/backend/src/gazette-service/package.json
Owners: @dependency-managers, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/tsconfig.json
  src/backend/src/gazette-service/tsconfig.json
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/src/app.ts
  src/backend/src/gazette-service/src/app.ts
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/src/config/print.config.ts
  src/backend/src/gazette-service/src/config/print.config.ts
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/src/config/shipping.config.ts
  src/backend/src/gazette-service/src/config/shipping.config.ts
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/src/controllers/gazette.controller.ts
  src/backend/src/gazette-service/src/controllers/gazette.controller.ts
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/src/models/gazette.model.ts
  src/backend/src/gazette-service/src/models/gazette.model.ts
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/src/services/layout.service.ts
  src/backend/src/gazette-service/src/services/layout.service.ts
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/src/services/print.service.ts
  src/backend/src/gazette-service/src/services/print.service.ts
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/src/services/shipping.service.ts
  src/backend/src/gazette-service/src/services/shipping.service.ts
Owners: @backend-team, @gazette-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/test/integration/gazette.test.ts
  src/backend/src/gazette-service/test/integration/gazette.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/gazette-service/test/unit/layout.test.ts
  src/backend/src/gazette-service/test/unit/layout.test.ts
Owners: @qa-team, @test-automation-team

.github/CODEOWNERS:

*                                               @global-maintainers

# Backend Services
src/backend/src/api-gateway/                    @backend-team @api-owners
src/backend/src/auth-service/                   @backend-team @security-team
src/backend/src/content-service/                @backend-team @content-team
src/backend/src/gazette-service/                @backend-team @gazette-team
src/backend/src/payment-service/                @backend-team @payment-team @security-team
src/backend/src/worker-service/                 @backend-team @worker-team
src/backend/src/shared/                         @backend-team @architecture-team

# Service-specific security and config directories
src/backend/src/*/security/                     @security-team
src/backend/src/*/config/                       @devops-team @security-team

# Frontend Applications
src/web/                                        @frontend-team @accessibility-team
src/web/mobile/                                 @mobile-team @accessibility-team

# Infrastructure and DevOps
infrastructure/                                 @devops-team @security-team
.github/workflows/                              @devops-team @ci-team @security-team

# API Definitions
*.proto                                         @backend-team @api-owners @architecture-team

# Dependencies and Security
package.json                                    @dependency-managers @security-team

# Testing
*.test.ts                                       @qa-team @test-automation-team

# Documentation
docs/                                           @documentation-team @architecture-team
