Repository Eliezelg/myfamily-e9xq3b, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @api-owners, @security-team, @content-team, @gazette-team, @payment-team, @worker-team, @architecture-team, @devops-team, @frontend-team, @accessibility-team, @mobile-team, @ci-team, @dependency-managers, @qa-team, @test-automation-team, @documentation-team

.github/CODEOWNERS:

*                                               @global-maintainers

# Backend Services
src/backend/src/api-gateway/                    @backend-team @api-owners
src/backend/src/auth-service/                   @backend-team @security-team
src/backend/src/content-service/                @backend-team @content-team
src/backend/src/gazette-service/                @backend-team @gazette-team
src/backend/src/payment-service/                @backend-team @payment-team @security-team
src/backend/src/worker-service/                 @backend-team @worker-team
src/backend/src/shared/                         @backend-team @architecture-team

# Service-specific security and config directories
src/backend/src/*/security/                     @security-team
src/backend/src/*/config/                       @devops-team @security-team

# Frontend Applications
src/web/                                        @frontend-team @accessibility-team
src/web/mobile/                                 @mobile-team @accessibility-team

# Infrastructure and DevOps
infrastructure/                                 @devops-team @security-team
.github/workflows/                              @devops-team @ci-team @security-team

# API Definitions
*.proto                                         @backend-team @api-owners @architecture-team

# Dependencies and Security
package.json                                    @dependency-managers @security-team

# Testing
*.test.ts                                       @qa-team @test-automation-team

# Documentation
docs/                                           @documentation-team @architecture-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/cloudfront/main.tf
  infrastructure/terraform/aws/cloudfront/main.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/cloudfront/variables.tf
  infrastructure/terraform/aws/cloudfront/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/eks/main.tf
  infrastructure/terraform/aws/eks/main.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/eks/variables.tf
  infrastructure/terraform/aws/eks/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/elasticache/main.tf
  infrastructure/terraform/aws/elasticache/main.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/elasticache/variables.tf
  infrastructure/terraform/aws/elasticache/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/rds/main.tf
  infrastructure/terraform/aws/rds/main.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/rds/variables.tf
  infrastructure/terraform/aws/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/s3/main.tf
  infrastructure/terraform/aws/s3/main.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/s3/variables.tf
  infrastructure/terraform/aws/s3/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/ses/main.tf
  infrastructure/terraform/aws/ses/main.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/ses/variables.tf
  infrastructure/terraform/aws/ses/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/vpc/main.tf
  infrastructure/terraform/aws/vpc/main.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/vpc/variables.tf
  infrastructure/terraform/aws/vpc/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/waf/main.tf
  infrastructure/terraform/aws/waf/main.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/waf/variables.tf
  infrastructure/terraform/aws/waf/variables.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/.env.example
  src/backend/.env.example
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/.eslintrc.ts
  src/backend/.eslintrc.ts
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/README.md
  src/backend/README.md
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/package.json
  src/backend/package.json
Owners: @dependency-managers, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/Dockerfile
  src/backend/src/api-gateway/Dockerfile
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/package.json
  src/backend/src/api-gateway/package.json
Owners: @dependency-managers, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/tsconfig.json
  src/backend/src/api-gateway/tsconfig.json
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/src/app.ts
  src/backend/src/api-gateway/src/app.ts
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/src/config/cors.config.ts
  src/backend/src/api-gateway/src/config/cors.config.ts
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/src/config/rate-limit.config.ts
  src/backend/src/api-gateway/src/config/rate-limit.config.ts
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/src/config/routes.config.ts
  src/backend/src/api-gateway/src/config/routes.config.ts
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/src/middleware/auth.middleware.ts
  src/backend/src/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/src/middleware/error.middleware.ts
  src/backend/src/api-gateway/src/middleware/error.middleware.ts
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/src/middleware/logging.middleware.ts
  src/backend/src/api-gateway/src/middleware/logging.middleware.ts
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/src/middleware/validation.middleware.ts
  src/backend/src/api-gateway/src/middleware/validation.middleware.ts
Owners: @backend-team, @api-owners

Add public-samples/myfamily-e9xq3b/src/backend/src/api-gateway/test/integration/gateway.test.ts
  src/backend/src/api-gateway/test/integration/gateway.test.ts
Owners: @qa-team, @test-automation-team
