Repository Eliezelg/myfamily-e9xq3b, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @api-owners, @security-team, @content-team, @gazette-team, @payment-team, @worker-team, @architecture-team, @devops-team, @frontend-team, @accessibility-team, @mobile-team, @ci-team, @dependency-managers, @qa-team, @test-automation-team, @documentation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/Dockerfile
  src/backend/src/payment-service/Dockerfile
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/package.json
  src/backend/src/payment-service/package.json
Owners: @dependency-managers, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/tsconfig.json
  src/backend/src/payment-service/tsconfig.json
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/src/app.ts
  src/backend/src/payment-service/src/app.ts
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/src/config/stripe.config.ts
  src/backend/src/payment-service/src/config/stripe.config.ts
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/src/config/tranzillia.config.ts
  src/backend/src/payment-service/src/config/tranzillia.config.ts
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/src/controllers/payment.controller.ts
  src/backend/src/payment-service/src/controllers/payment.controller.ts
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/src/models/payment.model.ts
  src/backend/src/payment-service/src/models/payment.model.ts
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/src/models/pool.model.ts
  src/backend/src/payment-service/src/models/pool.model.ts
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/src/services/payment.service.ts
  src/backend/src/payment-service/src/services/payment.service.ts
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/src/services/pool.service.ts
  src/backend/src/payment-service/src/services/pool.service.ts
Owners: @backend-team, @payment-team, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/test/integration/payment.test.ts
  src/backend/src/payment-service/test/integration/payment.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/payment-service/test/unit/pool.test.ts
  src/backend/src/payment-service/test/unit/pool.test.ts
Owners: @qa-team, @test-automation-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/constants/error-codes.ts
  src/backend/src/shared/constants/error-codes.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/constants/status-codes.ts
  src/backend/src/shared/constants/status-codes.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/interfaces/config.interface.ts
  src/backend/src/shared/interfaces/config.interface.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/interfaces/gazette.interface.ts
  src/backend/src/shared/interfaces/gazette.interface.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/interfaces/payment.interface.ts
  src/backend/src/shared/interfaces/payment.interface.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/interfaces/user.interface.ts
  src/backend/src/shared/interfaces/user.interface.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/proto/auth.proto
  src/backend/src/shared/proto/auth.proto
Owners: @backend-team, @api-owners, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/proto/content.proto
  src/backend/src/shared/proto/content.proto
Owners: @backend-team, @api-owners, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/proto/gazette.proto
  src/backend/src/shared/proto/gazette.proto
Owners: @backend-team, @api-owners, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/proto/payment.proto
  src/backend/src/shared/proto/payment.proto
Owners: @backend-team, @api-owners, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/utils/date.util.ts
  src/backend/src/shared/utils/date.util.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/utils/encryption.util.ts
  src/backend/src/shared/utils/encryption.util.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/utils/logger.util.ts
  src/backend/src/shared/utils/logger.util.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/shared/utils/validation.util.ts
  src/backend/src/shared/utils/validation.util.ts
Owners: @backend-team, @architecture-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/Dockerfile
  src/backend/src/worker-service/Dockerfile
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/package.json
  src/backend/src/worker-service/package.json
Owners: @dependency-managers, @security-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/tsconfig.json
  src/backend/src/worker-service/tsconfig.json
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/app.ts
  src/backend/src/worker-service/src/app.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/config/bull.config.ts
  src/backend/src/worker-service/src/config/bull.config.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/config/redis.config.ts
  src/backend/src/worker-service/src/config/redis.config.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/jobs/content-processing.job.ts
  src/backend/src/worker-service/src/jobs/content-processing.job.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/jobs/gazette-generation.job.ts
  src/backend/src/worker-service/src/jobs/gazette-generation.job.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/jobs/notification.job.ts
  src/backend/src/worker-service/src/jobs/notification.job.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/queues/content.queue.ts
  src/backend/src/worker-service/src/queues/content.queue.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/queues/gazette.queue.ts
  src/backend/src/worker-service/src/queues/gazette.queue.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/src/queues/notification.queue.ts
  src/backend/src/worker-service/src/queues/notification.queue.ts
Owners: @backend-team, @worker-team

Add public-samples/myfamily-e9xq3b/src/backend/src/worker-service/test/integration/worker.test.ts
  src/backend/src/worker-service/test/integration/worker.test.ts
Owners: @qa-team, @test-automation-team

.github/CODEOWNERS:

*                                               @global-maintainers

# Backend Services
src/backend/src/api-gateway/                    @backend-team @api-owners
src/backend/src/auth-service/                   @backend-team @security-team
src/backend/src/content-service/                @backend-team @content-team
src/backend/src/gazette-service/                @backend-team @gazette-team
src/backend/src/payment-service/                @backend-team @payment-team @security-team
src/backend/src/worker-service/                 @backend-team @worker-team
src/backend/src/shared/                         @backend-team @architecture-team

# Service-specific security and config directories
src/backend/src/*/security/                     @security-team
src/backend/src/*/config/                       @devops-team @security-team

# Frontend Applications
src/web/                                        @frontend-team @accessibility-team
src/web/mobile/                                 @mobile-team @accessibility-team

# Infrastructure and DevOps
infrastructure/                                 @devops-team @security-team
.github/workflows/                              @devops-team @ci-team @security-team

# API Definitions
*.proto                                         @backend-team @api-owners @architecture-team

# Dependencies and Security
package.json                                    @dependency-managers @security-team

# Testing
*.test.ts                                       @qa-team @test-automation-team

# Documentation
docs/                                           @documentation-team @architecture-team
