Repository Eliezelg/myfamily-e9xq3b, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @api-owners, @security-team, @content-team, @gazette-team, @payment-team, @worker-team, @architecture-team, @devops-team, @frontend-team, @accessibility-team, @mobile-team, @ci-team, @dependency-managers, @qa-team, @test-automation-team, @documentation-team

Add public-samples/myfamily-e9xq3b/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @ci-team, @security-team

Add public-samples/myfamily-e9xq3b/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team, @ci-team, @security-team

Add public-samples/myfamily-e9xq3b/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team, @ci-team, @security-team

Add public-samples/myfamily-e9xq3b/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team, @ci-team, @security-team

Add public-samples/myfamily-e9xq3b/.github/workflows/mobile-ci.yml
  .github/workflows/mobile-ci.yml
Owners: @devops-team, @ci-team, @security-team

Add public-samples/myfamily-e9xq3b/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @ci-team, @security-team

Add public-samples/myfamily-e9xq3b/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @global-maintainers

Add public-samples/myfamily-e9xq3b/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/docker/monitoring/elk/Dockerfile
  infrastructure/docker/monitoring/elk/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/docker/monitoring/grafana/Dockerfile
  infrastructure/docker/monitoring/grafana/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/docker/monitoring/jaeger/Dockerfile
  infrastructure/docker/monitoring/jaeger/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/docker/monitoring/prometheus/Dockerfile
  infrastructure/docker/monitoring/prometheus/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/kustomization.yaml
  infrastructure/kubernetes/kustomization.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/base/namespaces.yaml
  infrastructure/kubernetes/base/namespaces.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/base/network-policies.yaml
  infrastructure/kubernetes/base/network-policies.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/base/storage-classes.yaml
  infrastructure/kubernetes/base/storage-classes.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/cert-manager/values.yaml
  infrastructure/kubernetes/cert-manager/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/ingress/nginx/values.yaml
  infrastructure/kubernetes/ingress/nginx/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/monitoring/elk/values.yaml
  infrastructure/kubernetes/monitoring/elk/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/monitoring/grafana/values.yaml
  infrastructure/kubernetes/monitoring/grafana/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/monitoring/jaeger/values.yaml
  infrastructure/kubernetes/monitoring/jaeger/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/monitoring/prometheus/values.yaml
  infrastructure/kubernetes/monitoring/prometheus/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/services/api-gateway/values.yaml
  infrastructure/kubernetes/services/api-gateway/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/services/auth-service/values.yaml
  infrastructure/kubernetes/services/auth-service/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/services/content-service/values.yaml
  infrastructure/kubernetes/services/content-service/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/services/gazette-service/values.yaml
  infrastructure/kubernetes/services/gazette-service/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/services/payment-service/values.yaml
  infrastructure/kubernetes/services/payment-service/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/kubernetes/services/worker-service/values.yaml
  infrastructure/kubernetes/services/worker-service/values.yaml
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/scripts/backup-databases.sh
  infrastructure/scripts/backup-databases.sh
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/scripts/deploy-monitoring.sh
  infrastructure/scripts/deploy-monitoring.sh
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/scripts/init-cluster.sh
  infrastructure/scripts/init-cluster.sh
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/scripts/rotate-certificates.sh
  infrastructure/scripts/rotate-certificates.sh
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/myfamily-e9xq3b/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @devops-team, @security-team

.github/CODEOWNERS:

*                                               @global-maintainers

# Backend Services
src/backend/src/api-gateway/                    @backend-team @api-owners
src/backend/src/auth-service/                   @backend-team @security-team
src/backend/src/content-service/                @backend-team @content-team
src/backend/src/gazette-service/                @backend-team @gazette-team
src/backend/src/payment-service/                @backend-team @payment-team @security-team
src/backend/src/worker-service/                 @backend-team @worker-team
src/backend/src/shared/                         @backend-team @architecture-team

# Service-specific security and config directories
src/backend/src/*/security/                     @security-team
src/backend/src/*/config/                       @devops-team @security-team

# Frontend Applications
src/web/                                        @frontend-team @accessibility-team
src/web/mobile/                                 @mobile-team @accessibility-team

# Infrastructure and DevOps
infrastructure/                                 @devops-team @security-team
.github/workflows/                              @devops-team @ci-team @security-team

# API Definitions
*.proto                                         @backend-team @api-owners @architecture-team

# Dependencies and Security
package.json                                    @dependency-managers @security-team

# Testing
*.test.ts                                       @qa-team @test-automation-team

# Documentation
docs/                                           @documentation-team @architecture-team
